@import "./../common/colours.scss";
@import "./../common/mixins.scss";
@import "./../common/breakpoints.scss";

nav {
  width: 100%;

  ul {
    height: 100%;
    padding: 0 10% !important;
    display: flex !important;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
  }

  li {
    font-weight: bold;
    opacity: 0.8;
    text-align: center;

    a {
      color: $black;
      @include transition(color 0.3s ease);
      &:hover,
      &.active {
        color: darken($green, 12%);
        cursor: pointer;
      }
    }
  }
}

.nav-wrap {
  height: 45px;
  width: 100%;
  padding: 2px;
  overflow: hidden;
  background-color: white;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);

  @media (max-width: $md) {
    display: none;
  }
}
