@import "./colours.scss";

.container-fluid {
  padding: 0 !important;
  margin: 0 !important;
  position: static !important;
}

.row {
  overflow: initial;
  position: static !important;
  padding: 0 !important;
  margin: 0 !important;
}
